<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EntradaWSSoap" />
        <binding name="MesaWSSoap" />
        <binding name="Orden_Menu_DetalleWSSoap" />
        <binding name="OrdenWSSoap" />
        <binding name="Plato_FondoWSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50319/EntradaWS.asmx" binding="basicHttpBinding"
          bindingConfiguration="EntradaWSSoap" contract="EntradaWS.EntradaWSSoap"
          name="EntradaWSSoap" />
      <endpoint address="http://localhost:50319/MesaWS.asmx" binding="basicHttpBinding"
          bindingConfiguration="MesaWSSoap" contract="MesaWS.MesaWSSoap"
          name="MesaWSSoap" />
      <endpoint address="http://localhost:50319/Orden_Menu_DetalleWS.asmx"
          binding="basicHttpBinding" bindingConfiguration="Orden_Menu_DetalleWSSoap"
          contract="DetalleOrdenWS.Orden_Menu_DetalleWSSoap" name="Orden_Menu_DetalleWSSoap" />
      <endpoint address="http://localhost:50319/OrdenWS.asmx" binding="basicHttpBinding"
          bindingConfiguration="OrdenWSSoap" contract="OrdenWS.OrdenWSSoap"
          name="OrdenWSSoap" />
      <endpoint address="http://localhost:50319/Plato_FondoWS.asmx"
          binding="basicHttpBinding" bindingConfiguration="Plato_FondoWSSoap"
          contract="PlatoFondoWS.Plato_FondoWSSoap" name="Plato_FondoWSSoap" />
    </client>
  </system.serviceModel>
</configuration>
