<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EntradaWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50319/EntradaWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="EntradaWSSoap" contract="EntradaWS.EntradaWSSoap"
                name="EntradaWSSoap" />
        </client>
    </system.serviceModel>
</configuration>