<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EntradaWSSoap" />
                <binding name="Plato_FondoWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50319/EntradaWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="EntradaWSSoap" contract="EntradaWS.EntradaWSSoap"
                name="EntradaWSSoap" />
            <endpoint address="http://localhost:50319/Plato_FondoWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="Plato_FondoWSSoap"
                contract="PlatoFondoWS.Plato_FondoWSSoap" name="Plato_FondoWSSoap" />
        </client>
    </system.serviceModel>
</configuration>